<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>장바구니</title>
</head>
<body>
    <h1>Cart</h1>
    
    <div th:if="${cartItems.size() > 0}">
        <table>
            <thead>
                <tr>
                    <th>메뉴 이름</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>총가격</th>
                </tr>
            </thead>
            <tbody>
                <!-- 장바구니 항목 반복 출력 -->
                <tr th:each="cartItem : ${cartItems}">
                    <td th:text="${cartItem.menuName}">메뉴 이름</td>
                    <td th:text="${cartItem.count}">수량</td>
                    <td th:text="${cartItem.price}">가격</td>
                    <td th:text="${cartItem.count * cartItem.price}">총 가격</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- 장바구니에 아무것도 없을 때 -->
    <div th:if="${cartItems.size() == 0}">
        <p>장바구니가 비었습니다.</p>
    </div>
</body>
</html>
